{% extends "base.html" %}

{% block content %}


    <div class="container mt-3">

        <div class="row border border-dark rounded p-3">
            <div class="col-md-5">
                {% if student.image %}
                    <img src="{{ student.image.url }}" alt="student image" class="w-75 rounded-circle">
                {% endif %}
            </div>
            <div class="col-md-7 ">
                <h3>{{student.user.first_name}} {{student.user.last_name}}</h3>
                <h4>UserID: {{student.user.username}}</h4>
                <hr>
                <h6>Current Month: {{month}}</h6>
                <h6>Current year: {{year}}</h6>
                <hr>

                <p>Phone: {{student.phone}}</p>
                <p>School: {{student.school.name}}</p>
                <p>Joining Class: {{student.joining_class}}</p>
                <p>Current Class: {{student.current_class}}</p>
            </div>
        </div>

    </div>


{% endblock content %}