{% extends "base.html" %}
{% block content %}
{% load crispy_forms_tags %}
    <div class="container mt-3">
        <div class='d-flex justify-content-between mb-2'>
            <h3 class='text-uppercase my-text fw-bold'>Student Profile</h3>
            <a class='btn btn-outline-dark rounded-pill'  href="{% url 'students' %}"> &#10094 </a>
        </div>
        <div class="row border border-dark rounded p-3">
            <div class="col-md-4">
                {% if student.image %}
                    <img src="{{ student.image.url }}" alt="student image" class="w-100 rounded-circle">
                {% endif %}
            </div>
            <div class="col-md-6 ">
                <h3>{{student.user.first_name}} {{student.user.last_name}}</h3>
                <h4>UserID: {{student.user.username}}</h4>
                
                <hr>
                <p>Phone: {{student.phone}}</p>
                <p>School: {{student.school.name}}</p>
                <p>Joining Class: {{student.joining_class}}</p>
                <p>Current Class: {{student.current_class}}</p>
            </div>
            <div class="col-md-2">
                <a href="" class="btn btn-outline-dark w-100 my-2">Update</a>
                <a href="" class="btn btn-outline-dark w-100 my-2">Delete</a>
                
            </div>
        </div>
    </div>
    <div class="container p-3 border border-dark rounded">
        <h3>Payment History ({{payments.count}})</h3>
        <hr>
                
        <div class="container table-responsive ">
            <table class="table table-success table-hover ">
                <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Amount</th>
                    <th scope="col">Month</th>
                    <th scope="col">Year</th>
                    <th scope="col">Status</th>
                </tr>
                </thead>
                <tbody>
                    {% for payment in payments %}
                    <tr>
                        <th scope="row">{{payment.id}}</th>
                        <td>
                            {% if payment.amount %}
                            {{payment.amount}} BDT
                            {% else %}
                            -
                            {% endif %}
                        </td>
                        <td>{{payment.month}}</td>
                        <td>{{payment.year}}</td>
                        <td>
                            {% if payment.is_paid %}
                            Paid on {{payment.payment_date}}
                            {% else %}
                            <a class="btn btn-dark " data-bs-toggle="modal" data-bs-target="#updateNoticeModal" href="{% url 'pay_payment' payment.id %}">Pay</a>

                            {% comment %} <button class="btn btn-dark " data-bs-toggle="modal" data-bs-target="#updateNoticeModal">Pay Now</button> {% endcomment %}
                            {% endif %}
                        </td>
                    </tr>

                    <!-- Modal -->
                    <div class="modal fade" id="updateNoticeModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="updateNoticeModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header brand-color">
                                    <h1 class="modal-title fs-5 text-white" id="updateNoticeModalLabel">Payment Form for {{student.user.first_name}} {{student.user.last_name}}</h1>
                                    <button type="button" class="btn-close bg-danger" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body bg-banner pb-0">
                                    <form method="post" action="{% url 'pay_payment' payment.id %}">
                                        {% csrf_token %}
                                        <div class="mb-3">
                                            {{ form.amount|as_crispy_field }}
                                        </div>
                                        <div class="mb-3">
                                            {{ form.payment_date|as_crispy_field }}
                                        </div>
                                    
                                        <button type="submit" class="btn btn-primary">Submit</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>


                    {% endfor %}
                </tbody>
            </table>
        </div>

    </div>
  
    
{% endblock content %}
