
<div class="container table-responsive rounded p-0">
    <table class="table table-hover border border-dark align-middle text-center ">
        <thead >
          <tr >
            <th class="bg-dark text-white" scope="col">ID</th>
            <th class="bg-dark text-white" scope="col">Name</th>
            <th class="bg-dark text-white" scope="col">Day</th>
            <th class="bg-dark text-white" scope="col">Time</th>
            <th class="bg-dark text-white" scope="col">Class</th>
            <th class="bg-dark text-white" scope="col">Available Seat</th>
          </tr>
        </thead>
        <tbody>
            {% for batch in batches %}
            <tr>
                <th class="bg-transparent fw-bold" scope="row">{{batch.id}}</th>
                <td class="bg-transparent fw-bold">{{batch.title}}</td>
                <td class="bg-transparent fw-bold">{{batch.day}}</td>
                <td class="bg-transparent fw-bold">{{batch.time}}</td>
                <td class="bg-transparent fw-bold">{{batch.level}}</td>
                <td class="bg-transparent fw-bold">{{batch.is_active}}</td>
            </tr>
            {% endfor %}
        </tbody>
      </table>
</div>

