{% extends "base.html" %}

{% block content  %}
{% load crispy_forms_tags %}

<div class="row border mt-3 rounded">
    <div class="col-md-3 p-3 border-end">
        <div class='d-flex justify-content-between'>
            <h3 class='text-uppercase text-white'>{{ batch.title }}</h3>
            <a class='btn btn-outline-dark rounded-pill' href="{% url 'batches' %}">&#10094;</a>
        </div>
        <h6>Time: {{ batch.time }}</h6>
        <h5>Monthly Fee: {{ batch.fee }} BDT</h5>
        <hr>
        <div class="p-3">
            <a href="{% url "update_batch" batch.id %}" class="btn btn-outline-dark w-100 m-2 p-2">Update</a>
            <a href="{% url "delete_batch" batch.id %}" class="btn btn-outline-dark w-100 m-2 p-2">Delete</a>
        </div>
    </div>

    <div class="col-md-9">
        <h4 class="my-text p-3 pb-0">{{batch.students.all.count}} STUDENT{{batch.students.all|pluralize:'S'}}:</h4>

        <hr>
        <div class="table-responsive">
            <table class="table table-dark table-hover border rounded">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Name</th>
                        <th scope="col">Phone</th>
                        <th scope="col">Class</th>
                        <th scope="col">School</th>
                        <th scope="col">Subject</th>
                        <th scope="col">Payment Status</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for student in batch.students.all %}
                    <tr>
                        <th scope="row">{{student.id}}</th>
                        <td>{{student.user.first_name}} {{student.user.last_name}}</td>
                        <td>{{student.phone}}</td>
                        <td>{{student.current_class}}</td>
                        <td>{{student.school.name}}</td>
                        <td>
                            {% for subject in student.subjects.all %}
                                {{ subject.name }}{% if not forloop.last %}, {% endif %}
                            {% endfor %}
                        </td>
                        <td>
                            {% if student.payment_due_month_count > 0 %}
                                <span class="text-danger fw-bold">{{ student.payment_due_month_count }} Month{{ student.payment_due_month_count|pluralize }} Due</span>
                            {% else %}
                                <span class="text-success fw-bold">All Paid</span>
                            {% endif %}
                        </td>
                        <td><a href="{% url "student_details" student.id %}" class="btn btn-warning ">View</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<div>
    <div class="mt-5">
        <h3 class="text-white text-center">Search Students Here For Add This Batch</h3>
        <div class="container text-center pb-3">
            <form id="searchForm" action="" method="get">
                    <div class="input-group m-auto">
                        <input type="text" class="form-control p-2" placeholder="Search By Student Name | Phone Number | School | Class" aria-label="Search" name="search_query" value="{{ search_query }}">
                        <button class="btn bg-banner text-white border" type="submit">Search</button>
                    </div>
            </form>
        </div>
    </div>
{% if students %}
    <div class="container table-responsive">
        <table class="table table-success table-hover">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Phone</th>
                    <th scope="col">Class</th>
                    <th scope="col">School</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                {% for student in students %}
                <tr>
                    <th scope="row">{{ student.id }}</th>
                    <td>{{ student.user.first_name }} {{ student.user.last_name }}</td>
                    <td>{{ student.phone }}</td>
                    <td>{{ student.current_class }}</td>
                    <td>{{ student.school.name }}</td>
                    <td>
                        {% if student in batch.students.all %}
                        <button class="btn btn-warning" disabled>Already Added</button>
                        {% else %}
                        <form method="post" action="">
                            {% csrf_token %}
                            <input type="hidden" name="student_id" value="{{ student.id }}">
                            <button type="submit" class="btn btn-warning">Add</button>
                        </form>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endif %}

</div>
<hr>



<div class="border rounded p-3">
    <div class='d-flex justify-content-between'>
        <h3 class='text-uppercase text-white'>Exams:</h3>
        <button class="btn btn-outline-dark p-1" data-bs-toggle="modal" data-bs-target="#addExamFormModal"><i class="fa fa-edit" ></i> Add Exam</button>


    </div>
    <hr>
    {% if exams %}
    <div class="container table-responsive">
        <table class="table table-success table-hover">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Title</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                {% for exam in exams %}
                <tr>
                    <th scope="row">{{ exam.id }}</th>
                    <td>{{ exam.title }}</td>
                    <td>
                        <a class="btn btn-warning" href={% url "exam_details" exam.id %}>Details</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% endif %}

    

</div>

<!-- Add Exam Form Modal -->
<div class="modal fade" id="addExamFormModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="addExamFormModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header brand-color ">
                <h1 class="modal-title fs-5 text-white" id="addExamFormModalLabel">Add Exam Form</h1>
                <button type="button" class="btn-close bg-danger" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body bg-banner pb-0">
                <form method="POST" action="">
                    {% csrf_token %}
                    {{ exam_form|crispy }}
                    <button type="submit" class="btn btn-primary">Add Exam</button>
                </form>
            </div>
        </div>
    </div>
</div>



{% endblock content %}
