{% extends "base.html" %}

{% block content  %}

<div class="row border mt-3 rounded">
    <div class="col-md-3 p-3 border-end">
        <h3>{{ batch.title }}</h3>
        <h6>Time: {{ batch.time }}</h6>
        <h5>Monthly Fee: {{ batch.fee }} BDT</h5>
        <hr>
        <div class="p-3">
            <a href="" class="btn btn-outline-dark w-100 m-2 p-2">Update</a>
            <a href="" class="btn btn-outline-dark w-100 m-2 p-2" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Add Student</a>
            <a href="" class="btn btn-outline-dark w-100 m-2 p-2">Delete</a>
        </div>
    </div>

    <div class="col-md-9">
        <h4 class="p-3 pb-0">Students:</h4>
        <hr>
        <div class="table-responsive">
            <table class="table table-dark table-hover border rounded">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Name</th>
                        <th scope="col">Phone</th>
                        <th scope="col">Class</th>
                        <th scope="col">School</th>
                        <th scope="col">Current Month Payment</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for student in batch.students.all %}
                    <tr>
                        <th scope="row">{{ student.id }}</th>
                        <td>{{ student.user.first_name }} {{ student.user.last_name }}</td>
                        <td>{{ student.phone }}</td>
                        <td>{{ student.current_class }}</td>
                        <td>{{ student.school_name }}</td>
                        <td>Due</td>
                        <td><a href="{% url 'student_details' student.id %}" class="btn btn-warning">View</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<div>
    <div class="mt-5">
        <div class="container text-center pb-3">
            <form id="searchForm" action="" method="get">
                <div class="input-group w-75 m-auto">
                    <input type="text" class="form-control p-2" placeholder="Search By Student Name | Phone Number | School | Class" aria-label="Search" name="search_query" value="{{ search_query }}">
                    <button class="btn bg-banner text-white border" type="submit">Search</button>
                </div>
            </form>
        </div>
    </div>
{% if students %}
    <div class="container table-responsive">
        <table class="table table-success table-hover">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Phone</th>
                    <th scope="col">Class</th>
                    <th scope="col">School</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                {% for student in students %}
                <tr>
                    <th scope="row">{{ student.id }}</th>
                    <td>{{ student.user.first_name }} {{ student.user.last_name }}</td>
                    <td>{{ student.phone }}</td>
                    <td>{{ student.current_class }}</td>
                    <td>{{ student.school_name }}</td>
                    <td>
                        {% if student in batch.students.all %}
                        <button class="btn btn-warning" disabled>Already Added</button>
                        {% else %}
                        <form method="post" action="">
                            {% csrf_token %}
                            <input type="hidden" name="student_id" value="{{ student.id }}">
                            <button type="submit" class="btn btn-warning">Add</button>
                        </form>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endif %}

</div>

{% endblock content %}
