

.brand-color {
    background-color: #495632;
}
.logo-color{
    color: rgb(253, 253, 253);
}
.bg-banner{
    background-color: #87986A;
    /* background: linear-gradient(180deg, rgb(235, 123, 4) 0%, rgb(232, 113, 2) 65%); */
}
.my-text{
    color: #9faa8a;
    font-weight: bold;
}

.nav-item a {
    color: white;
    font-weight: bold;

    transition: .3s;
}
.tbg{
    background-color: rgba(0, 0, 0, 0.506);
}

.nav-item a:hover {
    color: rgb(9, 9, 9);
    font-weight: bold;
    background-color: transparent;
    transition: .3s;
}

.table-hover tbody tr:hover {
    background-color: rgba(0, 0, 0, 0.05); /* Optional: Highlighting on hover */
}
.transparent-table {
    background-color: transparent;
}

.form-label{
    color : white;
}
.asteriskField{
    color : red;
}
#id_new_password1_helptext {
    color:white;
}

.social-icon{
    color : white;
    transition: 0.3s;
    text-decoration: none;
}

.social-icon:hover{
    color : black;
    transition: 0.3s;
}

#div_id_subjects .form-check-label{
    color : white;
}