{% extends "base.html" %}

{% block content %}

    <div class="border p-3 mt-3 rounded">
    <div class='d-flex justify-content-between'>
        <h3 class='text-uppercase text-white'>Batch: {{exam.batch}}</h3>
        <a class='btn btn-outline-dark rounded-pill' href="{% url 'batch_details' exam.batch.id %}">&#10094;</a>
    </div>
    <h3>Exam Title: {{exam.title}}</h3>
    <hr>
    <a href="{% url 'exam_update' exam.id %}" class="btn btn-warning">Update Exam and Marks</a>
    <hr>
    {% if students %}
    <div class="container table-responsive">
        <table class="table table-success table-hover">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Phone</th>
                    <th scope="col">Class</th>
                    <th scope="col">School</th>
                    <th scope="col">Marks</th>
                </tr>
            </thead>
            <tbody>
                {% for student in students %}
                <tr>
                    <th scope="row">{{ student.id }}</th>
                    <td>{{ student.student.user.first_name }} {{ student.student.user.last_name }}</td>
                    <td>{{ student.student.phone }}</td>
                    <td>{{ student.student.current_class }}</td>
                    <td>{{ student.student.school.name }}</td>
                    <td>
                        {% if student.marks %}
                        {{ student.marks }}
                        {% else %}
                        Pending
                        {% endif %}
                    </td>
                    
                </tr>
                {% endfor %}
            </tbody>
            </table>
        </div>
    {% endif %}

    </div>

{% endblock content %}