{% extends "base.html" %}

{% block content %}
<section class="container">
    
    <div class="border  mt-3 rounded">
        <div class="bg-banner rounded p-3">
            <div class='d-flex justify-content-between'>
                <h3 class='text-uppercase text-white'>Batch: {{exam.batch}}</h3>
                <a class='btn btn-outline-light rounded-pill' href="{% url 'batch_details' exam.batch.id %}">&#10094;</a>
            </div>
            <h3 class="text-white">Exam Title: {{exam.title}}</h3>
        </div>
        <a href="{% url 'exam_update' exam.id %}" class="btn btn-dark m-2 p-3">Update Exam and Marks</a>
        {% if students %}
        <div class="border p-3">
            <div class="container p-0 table-responsive">
                <table class="table table-hover table-bordered align-middle text-center m-0">
                    <thead>
                        <tr>
                            <th class="bg-dark text-white" scope="col">ID</th>
                            <th class="bg-dark text-white" scope="col">Name</th>
                            <th class="bg-dark text-white" scope="col">Phone</th>
                            <th class="bg-dark text-white" scope="col">Class</th>
                            <th class="bg-dark text-white" scope="col">School</th>
                            <th class="bg-dark text-white" scope="col">Marks</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for student in students %}
                        <tr>
                            <th class="fw-bold" scope="row">{{ student.id }}</th>
                            <td class="fw-bold">{{ student.student.user.first_name }} {{ student.student.user.last_name }}</td>
                            <td >{{ student.student.phone }}</td>
                            <td >{{ student.student.current_class }}</td>
                            <td >{{ student.student.school.name }}</td>
                            <td class="fw-bold">
                                {% if student.marks %}
                                {{ student.marks }}
                                {% else %}
                                Pending
                                {% endif %}
                            </td>
                            
                        </tr>
                        {% endfor %}
                    </tbody>
                    </table>
                </div>
        </div>
        {% endif %}
    
        </div>
</section>

{% endblock content %}