<footer  class="brand-color mt-5">
<div class="container pt-5 pb-3 text-white">
    <div class="row">
        <div class="col-md-4 mb-3">
            <div class="">
                <h5 class="">Contact Info</h5>
                <hr class="m-0 mb-3">
                <p><i class="fa-solid fa-envelope"></i> 
                  <a class="text-white text-decoration-none" href="mailto:rajum.1995@yahoo.com">rajum.1995@yahoo.com</a>
                </p>
                <p><i class="fa-solid fa-phone"></i> 
                  <a class="text-white text-decoration-none" href="tel:+8801763884548">+8801763884548</a>
                </p>
              </div>
        </div>
        <div class="col-md-3 mb-3">
            <div>
                <h5 class="">Social Media Link</h5>
                <hr class="m-0 mb-3">
                <a href="https://www.facebook.com/raju.mathm?mibextid=ZbWKwL" target="_blank" class="social-icon m-1">
                    <i class="fa-brands fa-facebook-square fa-2x "></i>
                </a>
                <a href="https://youtube.com/@rajumath12?si=6IlHpyzBR81UjKcr" target="_blank" class="social-icon m-1">
                    <i class="fa-brands fa-youtube fa-2x "></i>
                </a>
                <a href="" class="social-icon m-1"><i class="fa-brands fa-instagram fa-2x "></i></a>
                <a href="" class="social-icon m-1"><i class="fa-brands fa-twitter fa-2x "></i></a>
                <p></p>
            </div>
            
        </div>
        <div class="col-md-5">
            <h5>Address</h5>
            <hr class="m-0 mb-3">
            <p><i class="fa-solid fa-location-dot"></i> Nimtola Mor, Infront of Nawabganj Govt. Women College</p>
            <h6>Google Map Location</h6>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1857460.4302431517!2d88.27165219999999!3d24.5942895!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39fbb7001ba6317b%3A0x19cf1fc5d48de254!2sRaju%20Math!5e0!3m2!1sen!2sbd!4v1722795205039!5m2!1sen!2sbd" width="100%" 
            height="200" 
            frameborder="0" 
            style="border:0;" 
            allowfullscreen="" 
            aria-hidden="false" 
            tabindex="0"
            class="rounded"></iframe>
            
        </div>
    </div>
    <hr>
    <div>
        <p class="text-center">Copyright © 2024 rajumath.com</p>
    </div>
</div>
</footer>